@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary-1: #f27b52;
  --clr-light-1: #f6a78d;
  --clr-dark-1: #ed511d;
  --clr-primary-2: #ed5629;
  --clr-light-2: #f28969;
  --clr-dark-2: #ce3e12;
  --clr-primary-3: #294023;
  --clr-light-3: #43693a;
  --clr-dark-3: #1a2815;
  --clr-primary-4: #f9efdb;
  --clr-light-4: #fcf7ee;
  --clr-dark-4: #f3e0b9;
  --clr-primary-5: #2c2c2c;
  --clr-light-5: #525252;
  --clr-dark-5: #141414;
}

@font-face {
  font-family: reins;
  src: url(/assets/point-guard.otf);
}

@font-face {
  font-family: heebo;
  src: url(/assets/Heebo-Regular-BF64375253d0b7c.ttf);
}

body {
  color: var(--clr-light-4);
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3em;
  justify-content: center;
  margin: 3em;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media (min-width:960px) { 
main {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 3em;
  justify-content: center;
  margin: 5em;
}
}

.card, .card-inner {
  position: relative;
  height: 40em;
  width: 30em;
}

.card {
  perspective: 999px;
  cursor: pointer;
}

.card-inner {
  transition: all 1.2s cubic-bezier(.58,.22,.37,.85);
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back{  
  backface-visibility: hidden;
  background-color: var(--clr-primary-2);
  border: solid 5px var(--clr-primary-2);
  border-radius: 2%;
  height: 35em;
  position: relative;
  width: 25em;
}


.card-back {
  transform: rotateY(180deg);
  position: absolute; top: 0em;
  z-index: -1;
}

#H {
  position: absolute;top: 1em; right: 1em;
}

img {
  border: solid 4px var(--clr-primary-4);
  height: 24em;
  margin: 0.2em;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 86%, 0 98%);
  width: 24.05em;
}

.more-info {
  border: solid 4px var(--clr-primary-4);
  clip-path: polygon(0 0, 100% 0%, 100% 98%, 0 86%);
  background: var(--clr-primary-3);
  height: 24em;
  margin: 0.2em;
  width: 24.05em;
}

.more-info p {
  font-family: "heebo";
  font-size: 1.3em;
  margin: 1em;
  max-width: 20em;
  color: var(--clr-light-4);
}

h1, h2 {
  color: var(--clr-primary-2);
  background-color: var(--clr-dark-5);
  font-family: "reins";
  font-size: 6em;
  margin: 0em 0.5em 0em 0.05em;
  padding-left: 0.9em;
  text-transform: uppercase;
  width: 3.98em;
}

.big-text{ 
background-color: var(--clr-dark-5);
}

p {
  color: var(--clr-primary-5);
  font-size: 1.59em;
  font-family: "heebo";
  padding-top: 0.3em;
  position: absolute; right: 0.3em;
  font-weight: 800;
  text-transform: uppercase;
}

footer {
  width: 100vw;
  background: var(--clr-primary-3);
  position: absolute; bottom: -5em;
  padding: 1em;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

a:nth-of-type(1) {
  padding-top: 0.2em;
}

a:nth-of-type(2){
  padding: 0.5em;
}

a:nth-of-type(3) {
  padding-right: 1em;
}