@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary-1: #f27b52;
  --clr-light-1: #f6a78d;
  --clr-dark-1: #ed511d;
  --clr-primary-2: #d65663;
  --clr-light-2: #f28969;
  --clr-dark-2: #ce3e12;
  --clr-primary-3: #294023;
  --clr-light-3: #43693a;
  --clr-dark-3: #1a2815;
  --clr-primary-4: #f9efdb;
  --clr-light-4: #fcf7ee;
  --clr-dark-4: #f3e0b9;
  --clr-primary-5: #2c2c2c;
  --clr-light-5: #525252;
  --clr-dark-5: #141414;
}

@font-face {
  font-family: reins;
  src: url(/assets/point-guard.otf);
}

@font-face {
  font-family: heebo;
  src: url(/assets/Heebo-Regular-BF64375253d0b7c.ttf);
}

body {
  align-items: center;
  animation: draaien 30s infinite linear;
  background-image: repeating-conic-gradient(from var(--angle),#d65663 0deg,#f2bc62, #7cd2b7,#fce6c1 30deg );
  color: var(--clr-light-4);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  @supports (background: conic-gradient(in oklch, red 0 0)) {
    background-image: repeating-conic-gradient(
      from var(--angle) in oklch,
      #d65663 0deg,
      #f2bc62,
      #7cd2b7,
      #fce6c1 30deg
    );
  }  
}

@property --angle {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

@keyframes draaien {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.card, .card-inner {
  position: relative;
  height: max-content;
  width: max-content;
}

.card {
  perspective: 999px;
  cursor: pointer;
}

.card-inner {
  transition: all 1.2s cubic-bezier(.58,.22,.37,.85);
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back{  
  backface-visibility: hidden;
  background-color: var(--clr-primary-2);
  border: solid 5px var(--clr-primary-2);
  border-radius: 2%;
  box-shadow: 0 3px 10px rgb(10, 9, 8);
  height: 35em;
  position: relative;
  width: 25em;
}

.card-back {
  transform: rotateY(180deg);
  position: absolute; top: 0em;
  z-index: -1;
}

#H {
  position: absolute;top: 1em; right: 1em;
}

img {
  border: solid 4px var(--clr-primary-4);
  height: 24em;
  margin: 0.2em;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 86%, 0 98%);
  width: 24.05em;
}

.more-info {
  border: solid 4px var(--clr-primary-4);
  clip-path: polygon(0 0, 100% 0%, 100% 98%, 0 86%);
  background: var(--clr-primary-3);
  height: 24em;
  margin: 0.2em;
  width: 24.05em;
}

.more-info p {
  font-family: "heebo";
  font-size: 1.3em;
  margin: 1em;
  max-width: 20em;
  color: var(--clr-light-4);
  text-transform: none;
}

h1, h2 {
  color: var(--clr-primary-2);
  font-family: "reins";
  font-size: 6em;
  margin: 0em 0.5em 0em 0.05em;
  padding-left: 0.2em;
  text-transform: uppercase;
  width: 3.98em;
  letter-spacing: 30px;
}

h1 {
  transform: skewY(-5deg);
}

h2 {
  transform: skewY(5deg);
}

.big-text{ 
background-color: var(--clr-dark-5);
}

p {
  color: var(--clr-primary-5);
  font-size: 1.59em;
  font-family: "heebo";
  padding-top: 0.3em;
  position: absolute; right: 0.3em;
  font-weight: 800;
  text-transform: uppercase;
}

